@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;500;600;700&family=Lato:ital,wght@0,400;0,700;1,900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
font-family: 'Lato', sans-serif;
padding: 0;
margin: 0;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: #ec5242;
}

.flex {
  display: flex;
}

.hidden {
  display: none;
}

.ham-div { 
  margin: 10px 10px 20px 20px;
}

.ham-div i {
  font-size: 2rem;
}

.overlay {
  height: 100vh;
  background-color: #d3d3d3;
}

.menu-links {
  display: none;
  flex-direction: column;
  gap: 1.5rem;
  position: absolute;
  top: 4rem;
  left: 2rem;
  font-size: 1.5rem;
}

.closeIcon {
  float: right;
  margin: 2rem;
}
.abt-header {
  padding-bottom: 20px;
  background-image: url(../assets/about_bg_01.png);
  background-repeat: no-repeat;
  background-size: 90%;
  background-position: 100% 47%;
  height: 100vh;
}
.abt-heading {
  color: #ec5242;
  font-size: 1rem;
  font-weight: 700;
  line-height: 44px;
  text-align: center;
  padding: 0 12px;
}

.abt-heading p {
  font-size: 15px;
  font-weight: 400;
}

.abt-conf {
  color: #272a31cc;
  line-height: 24px;
  font-size: 14px;
  background-color: #ffffff;
  box-shadow: 1px 1px 4px #838080;
  border-radius: 4px;
  border: 2px solid #ffffff00;
  padding: 18px 12px;
  align-self: center;
  margin-top: 4rem;
}

.summit-head {
  padding-top: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  background-color: #ffffff;
  font-size: 20px;
  font-weight: 700;
  line-height: 28px;
}

.summit {
  display: flex;
  background-color: #ffffffb2;
  gap: 10px;
  padding: 8px 24px;

}

.summit-card22 {
  background-image: url(../assets/icons_logos/summit-card01.jpg);
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center;
  height: 40vh;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.summit-card21 {
  background-image: url(../assets/icons_logos/summit-card02.jpg);
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center;
  height: 40vh;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.summit-card20 {
  background-image: url(../assets/icons_logos/summit-card03.jpg);
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center;
  height: 40vh;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.summit a {
  font-size: 16px;
  font-weight: 900;
  margin-bottom: 2rem;
}

.contact {
  color: #272a31cc;
  line-height: 24px;
  font-size: 12px;
  padding: 18px 12px;
  align-self: center;
  margin-top: 1rem;
}

.contact {
  margin-bottom: 1px;
  padding: 8px 24px;
  background-color: #ffffff;
  /* mix-blend-mode: screen;
  backdrop-filter: blur(1px); */
  display: grid;
  gap: 10px;
}

.contact-card {
  flex-direction: column;
  gap: 10px;
  align-items: center;
  justify-content: center;
  background-color: #ec5242;
  box-shadow: 2px 2px 6px #b4aeae;
  border-radius: 4px;
  line-height: 32px;
  padding: 8px 12px;
}

.title {
  font-size: 18px;
}
.name {
  color: #282a32;
  font-size: 22px;
  font-weight: 600;
}

.card-contact {
  color: #d3d3d3;
  font-size: 12px;
}


.partners {
  background-color: #414246;
  padding: 20px;
  font-size: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.partners h5 {
  margin-bottom: 35px;
  color: #d3d3d3;
}


.partners-image {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
  gap: 20px;
  padding: 0 10px 10px 20px;
}

.partners-image img {
  width: 60%;
}

.sep-img {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 60%;
  gap: 0px
}

.sep-img img {
  width: 35%;
}


footer {
  background-color: #ffffff;
  padding: 8px 12px;
  width: 100%;
  position: absolute;
  left: 0;
  color: #000000;
  font-size: 10px;
  line-height: 12px;
}

footer div {
  display: flex;
  gap: 2px;
  justify-content: center;
  align-items: center;
  padding: 4px 12px;
}

.f-logo img {
  width: 100%;
  background-color: #272a31
}